<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.dao.DiscussMapper" >
  <resultMap id="BaseResultMap" type="com.lanou.model.Discuss" >
    <id column="dis_id" property="disId" jdbcType="INTEGER" />
    <result column="dis_cont" property="disCont" jdbcType="VARCHAR" />
    <result column="dis_star" property="disStar" jdbcType="INTEGER" />
    <result column="pro_id" property="proId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dis_id, dis_cont, dis_star, pro_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from discuss
    where dis_id = #{disId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from discuss
    where dis_id = #{disId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanou.model.Discuss" >
    insert into discuss (dis_id, dis_cont, dis_star, 
      pro_id)
    values (#{disId,jdbcType=INTEGER}, #{disCont,jdbcType=VARCHAR}, #{disStar,jdbcType=INTEGER}, 
      #{proId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.model.Discuss" >
    insert into discuss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="disId != null" >
        dis_id,
      </if>
      <if test="disCont != null" >
        dis_cont,
      </if>
      <if test="disStar != null" >
        dis_star,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="disId != null" >
        #{disId,jdbcType=INTEGER},
      </if>
      <if test="disCont != null" >
        #{disCont,jdbcType=VARCHAR},
      </if>
      <if test="disStar != null" >
        #{disStar,jdbcType=INTEGER},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.model.Discuss" >
    update discuss
    <set >
      <if test="disCont != null" >
        dis_cont = #{disCont,jdbcType=VARCHAR},
      </if>
      <if test="disStar != null" >
        dis_star = #{disStar,jdbcType=INTEGER},
      </if>
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=VARCHAR},
      </if>
    </set>
    where dis_id = #{disId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.model.Discuss" >
    update discuss
    set dis_cont = #{disCont,jdbcType=VARCHAR},
      dis_star = #{disStar,jdbcType=INTEGER},
      pro_id = #{proId,jdbcType=VARCHAR}
    where dis_id = #{disId,jdbcType=INTEGER}
  </update>

  <select id="findDiscussSize" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(*) from discuss where pro_id = #{prodId}
  </select>
</mapper>